@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #7868E6;
    --cor-secundaria: #B8B5FF;
    --cor-terciaria: #E4FBFF;
    --cor-hover: #E4FBFF;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  #bg{
    
    position: absolute;
    z-index: 0;
}
body {

    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.bg-3d{
    position: relative;
   /*background-image: url('../Assets/image-bg.jpg');*/
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;

}
.titulo-destaque {
    color: var(--cor-terciaria);
}

.cabecalho {
    position: relative;
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.apresentacao__imagem {
    display: flex;
    width: 30%;
}

.cabecalho__menu__link {
    font-weight: 700;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    font-weight: 700;
    color: darkslateblue;


}

.apresentacao {
    position: relative;
    justify-content: space-around;
    padding: 4% 1% 10%;
    display: flex;
    align-items: center;
}


.apresentacao__conteudo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo {
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto {
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    
    
}

.apresentacao__links {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.apresentacao__links__subtitulo {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__Links__link {
    justify-content: space-between;
    border: .1rem solid var(--cor-terciaria);
    width: 60%;
    text-align: center;
    border-radius: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 4% 2% 4% 2%;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.apresentacao__Links__link img {
    width: 1.5rem;
}

.apresentacao__Links__link:hover {
    background-color: var(--cor-hover);
}


.rodape {
    position: fixed;
    bottom: 0;
    padding: 2%;
    background-color: var(--cor-terciaria);
    color: #000000;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    width: 100%;
}

.rodape a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
}

.projetos {

    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 900px) {
    .apresentacao__imagem{
        width: 0;
    }
    .apresentacao {
        position: relative;
        flex-direction: column-reverse;
        padding: 10% 10% 0% 5%
    }
    .apresentacao__conteudo {
        padding-top: 20%;
        padding-bottom: 30%;
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .apresentacao__conteudo__texto {
        text-align: justify;
        font-size: 1.2rem;
        font-family: var(--fonte-secundaria);
      
    }

    .cabecalho {
        position: relative;
        padding: 2% 0% 0% 2%;

    }
    .apresentacao__conteudo__titulo {
        font-size: 1.2rem;
        font-family: var(--fonte-primaria);
    }

    .cabecalho__menu {
        
        justify-content: center;
        gap: 1rem;
    }

    .cabecalho__menu__link {
        font-weight: 700;
        font-size: 90%;
    }
   

}

.img_sobre {
    max-width: 20%;
}

.list-contato {

    list-style: none;
}

.list-contato a {
    color: #B8B5FF;
    text-decoration: none;

    font-size: 2.5rem;

}
.list-contato a:hover{
    color: var(--cor-terciaria);
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentacao__conteudo__titulo_contato {
    padding-top: 50px;
    color: var(--cor-terciaria);
    font-size: xxx-large;
    display: flex;
    justify-content: center;
}
